@model IEnumerable<Domain.IsInWash>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Car)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wash)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.from)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.to)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Car.carID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.personID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wash.washID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.from)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.to)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.isInWashID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.isInWashID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.isInWashID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
