@model IEnumerable<Domain.Car>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CarType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.licenceNr)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CarType.carTypeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.personID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.licenceNr)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.carID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.carID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.carID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
