@model IEnumerable<Domain.Wash>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.checkID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.washTypeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nameOfWashType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.checkID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.washTypeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.order.oderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nameOfWashType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.washID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.washID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.washID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
