@model WebApp.ViewModels.PersonCreateEditViewModel

<h4>Person</h4>
<hr />
<dl class="row">
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => Model.Person.PersonId)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => Model.Person.PersonId)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => Model.Person.Name)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => Model.Person.Name)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => Model.Person.AppUser)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => Model.Person.AppUser.Id)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => Model.Person.PersonType)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => Model.Person.PersonType.Name)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => Model.Person.Email)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => Model.Person.Email)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => Model.Person.PhoneNr)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => Model.Person.PhoneNr)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => Model.Person.CreatedBy)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => Model.Person.CreatedBy)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => Model.Person.CreatedAt)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => Model.Person.CreatedAt)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => Model.Person.ChangedAt)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => Model.Person.ChangedBy)
    </dd>
</dl>