@model Domain.Order
<h4>Order</h4>
<hr />
<dl class="row">
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.DateAndTime)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.DateAndTime)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.WashId)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.WashId)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Comment)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Comment)
    </dd>
</dl>