@using System.Collections
@model IEnumerable<PublicApi.DTO.v1.QuestionAnswerDummyV2>


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Question.NameOfQuestion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Answer1)
        </th>
    </tr>
    </thead>
    <tbody>
    @{
        var i = 0;
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Question.NameOfQuestion)
            </td>
            @if (ViewData["questionAnswerDummy1"] != null && i == 0)
            {
                <td>
                    @Html.DropDownList("SelectedEmployee", new SelectList((IEnumerable) ViewData["questionAnswerDummy1"]), "Id", "Answer")
                </td>
            }
            @if (ViewData["questionAnswerDummy2"] != null && i == 1)
            {
                <td>
                    @Html.DropDownList("SelectedEmployee", new SelectList((IEnumerable) ViewData["questionAnswerDummy2"]), "Id", "Answer")
                </td>
            }
            @if (ViewData["questionAnswerDummy3"] != null && i == 2)
            {
                <td>
                    @Html.DropDownList("SelectedEmployee", new SelectList((IEnumerable) ViewData["questionAnswerDummy3"]), "Id", "Answer")
                </td>
            }
            @if (ViewData["questionAnswerDummy4"] != null && i == 3)
            {
                <td>
                    @Html.DropDownList("SelectedEmployee", new SelectList((IEnumerable) ViewData["questionAnswerDummy4"]), "Id", "Answer")
                </td>
            }
            @if (ViewData["questionAnswerDummy5"] != null && i == 4)
            {
                <td>
                    @Html.DropDownList("SelectedEmployee", new SelectList((IEnumerable) ViewData["questionAnswerDummy5"]), "Id", "Answer")
                </td>
            }
        </tr>
        i+=1;
    }
    }
    </tbody>
</table>