@model IEnumerable<PublicApi.DTO.v1.QuizDummy>

@{
    ViewData["Title"] = "Index";
}

<h1>Quiz</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameOfQuiz)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AverageScore)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameOfQuiz)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AverageScore)
            </td>
            <td>
                <a asp-action="Answer" asp-route-id="@item.Id">Start Quiz</a> |
            </td>
        </tr>
}
    </tbody>
</table>
