@model Domain.Payment

<h4>Payment</h4>
<hr />
<dl class="row">
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Person)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Person!.Id)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.PaymentMethod)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.PaymentMethod!.Id)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Check)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Check!.Comment)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.PaymentAmount)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.PaymentAmount)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.TimeOfPayment)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.TimeOfPayment)
    </dd>
</dl>