@model Domain.Wash

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Wash</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WashTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WashTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Order)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Order.Comment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameOfWashType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameOfWashType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.WashId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
