@model Domain.Payment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Payment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Person)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Person.personID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentMethod.paymentMethodID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Check)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Check.checkID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.paymentAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.paymentAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.timeOfPayment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.timeOfPayment)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.paymentID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
