@model IEnumerable<DAL.App.DTO.Check>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Person)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wash)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTimeCheck)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountExcludeVat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountWithVat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Person!.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wash!.NameOfWashType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeCheck)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountExcludeVat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountWithVat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CheckId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CheckId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CheckId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
